ion-header{
    ion-title{
        --color: #0cd1e8;
    }
    ion-icon{
        margin-right: 5%;
    }
    ion-back-button{
        color: chartreuse;
    }
    --ion-background-color:#1f1b1c;
}
ion-content
{
    --ion-background-color:#1f1b1c;
    ion-input{
        color: aquamarine;
    }
    ion-thumbnail {
      margin-left:25%;
      width: 150px;
      height: 150px;
        ion-img{
            border-radius: 20px 30px;
        }
    }
}

ion-footer{
    ion-row{
        --ion-background-color:#393536;
    }  
}

